In [17]:
import pandas as pd

In [24]:
df1 = pd.read_csv(r"C:\Users\Sanket Ketkar\Desktop\market\MavenMarket_Transactions_1998.csv")

In [26]:
df1["transaction_date"].dtype

dtype('O')

In [28]:
def custom_date_parser(date_str):
    for fmt in ("%m/%d/%Y", "%m-%d-%Y"):
        try:
            return pd.to_datetime(date_str, format=fmt)
        except ValueError:
            continue
    return pd.NaT  
df1['transaction_date'] = df1['transaction_date'].apply(custom_date_parser)
# Find erroneous date records (rows where `valid_date` is NaT)
invalid_dates = df1[df1['transaction_date'].isna()]

print(invalid_dates)

Empty DataFrame
Columns: [transaction_date, stock_date, product_id, customer_id, store_id, quantity]
Index: []

In [30]:
df1[df1['transaction_date'].isna()]

Empty DataFrame
Columns: [transaction_date, stock_date, product_id, customer_id, store_id, quantity]
Index: []

In [32]:
df1.to_csv('MavenMarket_Transactions_1998_6.csv', index=False)

In [34]:
df2 = pd.read_csv(r"C:\Users\Sanket Ketkar\Desktop\market\MavenMarket_Transactions_1997.csv")

In [36]:
df2["transaction_date"].dtype

dtype('O')

In [38]:
def custom_date_parser_1997(date_str):
    for fmt in ("%m/%d/%Y", "%m-%d-%Y"):
        try:
            return pd.to_datetime(date_str, format=fmt)
        except ValueError:
            continue
    return pd.NaT  
df2['transaction_date'] = df2['transaction_date'].apply(custom_date_parser_1997)
# Find erroneous date records (rows where `valid_date` is NaT)
invalid_dates = df2[df2['transaction_date'].isna()]

print(invalid_dates)

Empty DataFrame
Columns: [transaction_date, stock_date, product_id, customer_id, store_id, quantity]
Index: []

In [40]:
df2[df2['transaction_date'].isna()]

Empty DataFrame
Columns: [transaction_date, stock_date, product_id, customer_id, store_id, quantity]
Index: []

In [42]:
df2.to_csv('MavenMarket_Transactions_1997_3.csv', index=False)

In [44]:
df_combined = pd.concat([df1, df2], ignore_index=True)

In [46]:
df_combined.to_csv("transaction.csv", index=False)